html, body {
  overflow: hidden;
}

a, a:hover {
  color: #BB86FC;
}

.alert-info {
  background-color: #2A2A2A;
  color: #E2E2E2;
  border-style: none;
}

.alert-success {
  height: 5%;
  line-height:5%;
  text-align: center;
}

.btn {
  font-size: 12px;
}

#top {
  background-color: #121212;
  color: #E2E2E2;
  font-size: 12px;
}

#center {
  z-index: 1;
}

#right {
  background-color: #121212;
  color: #E2E2E2;
  font-size: 12px;
  border-style: solid;
  border-top-color: #2A2A2A;
  border-bottom-color: #2A2A2A;
}

#bottom {
  background-color: #121212;
  color: #E2E2E2;
  font-size: 12px;
}

#matrices {
  background-color: #2A2A2A;
  border-radius: 5px;
  font-size: 80%;
}

.list-group {
  max-height: 400px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

button {
  position: absolute;
  display: block;
}
