#info-mouse {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

#info-touch {
	position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

#framesBtn {
  position: absolute;
  top: 88px;
  left: 5px;
  z-index: 1;
}

#filelist {
  position: absolute;
  top: 10px;
  width: 20%;
  right: 10px;
  z-index: 1;
}

#matrices {
  background-color: white;
  border-radius: 5px;
  font-size: 80%;
}

.list-group {
  max-height: 400px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.dropdown-menu {
  max-height: 400px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

button {
  position: absolute;
  display: block;
  z-index: 99;
  left: 10%;
  top: 2%;
}
