#info {
  position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}

button {
  position: absolute;
  display: block;
  z-index: 99;
  left: 10%;
  top: 2%;
}